*{
    margin: 0;
    padding: 0;
}

body
{
    position: relative;
    width: 1280px;
    height: 1024px;
    background: #E2DF98;
}

.header_title h1
{
    /*margin-top: 34px;*/
    width: 500px;
    height: 46px;
    font-family: montserrat, sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #D42828;
    margin: 0 auto;
    padding: 10px 20px 0px 50px;
}
.nav 
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.nav a
{
    margin-top: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
}

.nav a:hover
{
    background-color: rgb(30, 255, 0);
    width: auto;
}
.section 
{
    width: 1280px;
}

.fish1, .fish2, .fish3
{
    width: 290px;
    border-radius: 10%;
    margin: 50px 45px 0px 90px;
}

.new
{
    width: 750px;
    margin-left: 16px;
    margin-top: 56px;
    text-align: justify;
    text-indent: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
}

.section_item1
{
    display: flex;
}

.fish1:hover
{
    transform: scale(0.5);
}
.fish2:hover
{
    transform: rotate(45deg);
}
.fish3:hover
{
    transform: skew(45deg);
}